{% extends 'base.html' %}
{% load static %}

{% block title %}Edit profile{% endblock %}

{% block content %}

    <div class="container my-2">
        <div class="row">
            <div class="col-12">
                <h2>Edit profile</h2>
            </div>
        </div>

         <div class="row">
            <form method="POST" enctype="multipart/form-data" class="py-2">
                {% csrf_token %}  <!-- CSRF token for security -->

                   {{ form.as_p }}

                    <button type="submit" class="btn">Save Changes</button>

            </form>
        </div>

        <div class="row my-lg-4">
            <div class="col-12">
                <div class="text-center">
                    <a href="{% url 'userprofile:account' %}">Back to account</a>
                </div>
            </div>
        </div>



    </div>

{% endblock %}