{% extends 'base.html' %}
{% load static %}

{% block title %}
	Lead List
{% endblock %}

{% block content %}

    {% block css %}
    	<link rel="stylesheet" href="{% static 'lead/css/lead.css' %}">
    {% endblock %}

   {% include 'core/partials/offcanvas_menu.html' %}

	<div class="container">

        <div class="row mx-lg-5 justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="px-5">Leads</h1>
                </div>
            </div>
            <div class="col-lg-12">
               <div class="text-center">
                    <!-- Display messages -->
                   {% if messages %}
                       <div class="row">
                           {% for message in messages %}
                               <div class="alert alert-{{ message.tags }}" role="alert">
                                   <div class="text-center">
                                       {{ message }}
                                   </div>
                               </div>
                           {% endfor %}
                       </div>
                   {% endif %}
               </div>
            </div>
        </div>

        <div class="row mt-lg-2 mx-lg-3 justify-content-center">

            <div class="col-lg-12">

                <div class="row my-lg-3 mx-lg-3 py-lg-4">

                    <form method="post" action="{% url 'lead:delete_bulk' %}">
                        {% csrf_token %}

                        <div class="row justify-content-center w-100 my-lg-3 mx-lg-5">

                            <div class="col-3 mx-lg-3 my-lg-2">
                                <a class="btn add-button" href="{% url 'lead:add' %}">Add lead</a>
                            </div>

                            <div class="col-3 mx-lg-3 my-lg-2">
                                <a class="btn export-button" href="{% url 'lead:export' %}">Export leads to csv</a>
                            </div>

                            <div class="col-3 mx-lg-3 my-lg-2">
                                <!-- Button to delete selected clients -->
                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete selected leads?')">
                                    Delete Selected
                                </button>

                            </div>

                        </div>

                        <div class="row justify-content-center mt-lg-4 mx-lg-5">

                            <div class="col-lg-12 my-lg-3">

                                <table class="table">
                                    <thead class="th-custom">

                                        <tr>
                                            <th scope="col">
                                                <!-- Select All checkbox -->
                                                <label for="select-all"></label>
                                                <input type="checkbox" id="select-all" />
                                            </th>
                                            <th scope="col">Created at</th>
                                            <th scope="col">Company</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Priority</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Sales</th>
                                            <th scope="col">Detail</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>

                                    {% if object_list %}
                                        <tbody>
                                            {% for lead in object_list %}
                                                <tr>
                                                    <td>
                                                        <label>
                                                            <input type="checkbox"
                                                                   name="lead_ids"
                                                                   class="row-checkbox"
                                                                   value="{{ lead.id }}"/>
                                                        </label>
                                                    </td>
                                                    <td>{{ lead.created_at|date:"M-d-Y H:i" }}</td>
                                                    <td>{{ lead.company }}</td>
                                                    <td>{{ lead.last_name }}, {{ lead.first_name }}</td>
                                                    <td>{{ lead.email }}</td>
                                                    <td>
                                                        {% if lead.priority == "high" %}
                                                            <img src="{% static 'lead/images/high.png' %}" alt="high" height="20">
                                                            {{ lead.get_priority_display|capfirst }}
                                                        {% elif lead.priority == "medium" %}
                                                            <img src="{% static 'lead/images/middle.png' %}" alt="medium" height="20">
                                                            {{ lead.get_priority_display|capfirst }}
                                                        {% elif lead.priority == "low" %}
                                                            <img src="{% static 'lead/images/low.png' %}" alt="low" height="20">
                                                            {{ lead.get_priority_display|capfirst }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ lead.get_status_display }}</td>
                                                    <td>{{ lead.status_sale }}</td>
                                                    <td>
                                                        <a class="a-detail" href="{% url 'lead:detail' lead.id %}">Detail</a>
                                                    </td>
                                                    <td>
                                                        <a class="edit" href="{% url 'lead:edit' lead.id %}">Edit</a>
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="delete-icon bg-transparent">
                                                            <img src="{% static 'lead/images/empty.png' %}"
                                                                 alt="empty"
                                                                 height="20">
                                                        </button>
                                                    </td>

                                                </tr>

                                            {% endfor %}

                                        </tbody>

                                    {% else %}
                                        <p>There are no leads in the database yet...</p>
                                    {% endif %}

                                </table>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <!-- Include your JS file -->
    <script src="{% static 'lead/js/lead.js' %}"></script>
{% endblock %}