{% extends 'base.html' %}
{% load static %}

{% block title %}
	Lead Detail- {{ lead.last_name }}, {{ lead.first_name }}
{% endblock %}

{% block content %}

    {% block css %}
    	<link rel="stylesheet" href="{% static 'lead/css/lead.css' %}">
    {% endblock %}

    {% include 'core/partials/offcanvas_menu.html' %}

    <style>
        body {
            background-image: url("{% static 'images/59244.png' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>


    <!-- Content -->
	<div class="container my-lg-4 pt-lg-3">

        <div class="row bg-transparent">
             <div class="col-lg-12 py-lg-3 px-lg-2">
                 <div class="text-center">
                     <h2 class="py-2"><i class="fa-solid fa-id-card"></i><span>{{ lead.last_name }}, {{ lead.first_name }}</span></h2>
                 </div>
             </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="row my-2">
                        <div class="col-lg-4">
                            <span class="span-detail">Company:</span>
                        </div>
                        <div class="col-lg-8 px-lg-4">
                            {{ lead.company }}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-4">
                            <span class="span-detail">Email:</span>
                        </div>
                        <div class="col-lg-8 px-lg-4">
                            {{ lead.email }}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-4">
                            <span class="span-detail">Phone:</span>
                        </div>
                        <div class="col-lg-8 px-lg-4">
                            {{ lead.phone }}
                        </div>
                    </div>

                    {% if lead.description %}
                        <div class="row my-2">
                            <div class="col-lg-4">
                                <span class="span-detail">Description:</span>
                            </div>
                            <div class="col-lg-8 px-lg-4">
                                {{ lead.description }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row my-2">
                        <div class="col-lg-4">
                            <span class="span-detail">Priority:</span>
                        </div>
                        <div class="col-lg-8 px-lg-4">
                            {{ lead.get_priority_display }}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-4">
                            <span class="span-detail">Status:</span>
                        </div>
                        <div class="col-lg-8 px-lg-4">
                            <span class="span-value">{{ lead.status }}</span>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-lg-4">
                            <span class="span-detail">Status Sale:</span>
                        </div>
                        <div class="col-lg-8 px-lg-4">
                            <span class="span-value">{{ lead.status_sale }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center py-lg-2">
                            <span class="span-detail">Created at: </span>
                            <span class="span-value">{{ lead.created_at|date:"M-d-Y H:i" }}</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-center">
                            <span class="span-detail">Modifed at: </span>
                            <span class="span-value">{{ lead.modified_at|date:"M-d-Y H:i" }}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Comment section -->
        <div class="row justify-content-center bg-transparent">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2><i class="fa-solid fa-comment mx-lg-2 px-lg-2"></i>Comments</h2>
                        </div>
                    </div>
                </div>

                <div class="row mx-2 mt-3 bg-transparent">
                    {% for comment in lead.comments.all %}
                        <div class="col-lg-12">
                            <div class="row mx-5 comment-row justify-content-center">
                                <p class="col-lg-12 comment mt-0 mb-0" style="background-color: #C7C8CB;">
                                    <strong class="px-2">@{{ comment.created_by }}</strong>
                                    {{ comment.created_at|date:"M-d-Y H:i" }}</p>
                                <!-- Comment content -->
                                <div class="col-lg-12 comment-content">
                                    {{ comment.content|linebreaks }}
                                </div>
                                <div class="col-lg-12 mt-0 mb-4"
                                     style="background-color: white; border-top: 1px solid #C7C8CB;
                                     border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">

                                    <!-- Delete Button -->
                                    <form method="post" action="{% url 'lead:delete_comment' lead.id comment.id %}"
                                          style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn mb-2" onclick="return confirm('Are you sure you want to delete this comment?');">
                                            <span style="color: #a52834; font-size: 20px; font-weight: bold;">Delete</span>
                                        </button>
                                    </form>

                                    <!-- Edit Button -->
                                   <a href="#" data-bs-toggle="modal" data-bs-target="#editCommentModal-{{ comment.id }}"
                                      class="btn-edit" style="text-decoration: none; font-weight: bold; font-size: 20px;">Edit</a>

                                   <!-- Edit Comment Modal -->
                                   <div class="modal fade" id="editCommentModal-{{ comment.id }}" tabindex="-1"
                                        aria-labelledby="editCommentLabel-{{ comment.id }}" aria-hidden="true">
                                       <div class="modal-dialog">
                                           <div class="modal-content">
                                               <div class="modal-header">
                                                   <h5 class="modal-title" id="editCommentLabel-{{ comment.id }}">Edit Comment</h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                           aria-label="Close"></button>
                                               </div>
                                               <div class="modal-body">
                                                   <form method="post" action="{% url 'lead:edit-comment' lead.id comment.id %}">
                                                       {% csrf_token %}
                                                       <textarea name="content" class="form-control" rows="4">
                                                           {{ comment.content }}
                                                       </textarea>

                                                       <button type="submit" class="btn btn-primary mt-3">Save</button>
                                                   </form>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                </div>
                            </div>

                        </div>
                    {% empty %}
                        <p class="not-found-message">No comments found for this lead.</p>
                    {% endfor %}
                </div>

                <div class="row py-2">
                    <form method="post" action="{% url 'lead:add_comment' lead.id %}">
                        {% csrf_token %}
                            <div class="col-lg-12">
                                <div class="row mx-5 comment-row justify-content-center">
                                    <div class="col-lg-12"> <!-- Full width column -->
                                        <label class="comment-label">Add Comment</label>
                                    </div>
                                    <div class="col-lg-12"> <!-- Make the text area full width -->
                                        <textarea name="content" class="form-control w-100 comment-form" rows="4"
                                                  placeholder="Enter your comment here"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mx-lg-5">
                                <div class="text-center">
                                    <button class="comment-btn my-3">Submit</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Section for files and tasks -->
        <div class="row py-lg-2 my-lg-3">

            <!-- File section -->
            <div class="col-lg-12 my-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2 class="pt-2 mt-3"><i class="fa-solid fa-file-pen mx-lg-1 px-lg-1"></i>Files</h2>
                        </div>
                    </div>
                </div>

                <div class="row mt-lg-3 mx-2" style="background-color: whitesmoke;">
                    {% for file in lead.files.all %}
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-12 mt-2">
                                    <strong class="px-2">@{{ file.created_by }}</strong>
                                    {{ file.created_at|date:"M-d-Y H:i" }}
                                </div>
                            </div>

                            <div class="row mx-5 py-lg-3 justify-content-center">
                                <div class="files-p col-6">
                                    {{ file.filename }}
                                </div>
                                <div class="col-6">
                                    <!-- Download Button -->
                                    <div class="row">
                                        <div class="col-12 justify-content-end py-lg-2">
                                            <a href="{{ file.file.url }}" class="download-a">Download files</a>
                                            <img src="{% static 'images/input.png' %}" alt="input" class="download-icon">
                                        </div>

                                    </div>
                                    <!-- Delete Button -->
                                    <form action="{% url 'lead:delete_file' lead.id file.id %}" method="post"
                                          style="display:inline;">
                                      {% csrf_token %}
                                      <button type="submit" class="btn px-3" style="color: #bb0808; font-size: 22px;"
                                              onclick="return confirm('Are you sure you want to delete this file?');">
                                        Delete
                                      </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Add file form -->
                <div class="row mx-lg-2" style="background-color: whitesmoke;">
                    <form method="post" action="{% url 'lead:add_file' lead.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="col-lg-6 align-items-start">
                            <div class="row mx-lg-3">
                                <div class="col-9 py-3" style="font-size: 18px;">
                                    {{ fileform.as_p }}
                                </div>
                                <div class="col-3 py-3">
                                    <button class="form-submit-btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Task section -->
            <div class="col-lg-12 bg-transparent">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2><i class="fa-solid fa-list-check px-lg-3 py-lg-4"></i>Tasks</h2>
                        </div>
                    </div>
                </div>

                <div class="row mx-2 py-lg-4" style="background-color: whitesmoke;">
                    <div class="col-lg-12">
                        <div class="row">
                            {% for task in tasks %}
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12 my-lg-2 mx-lg-2">
                                            <a href="{% url 'task:task_detail' task.pk %}" style="color: black;
                                            text-decoration: none; font-size: 22px;">
                                                <strong>{{ task.title }}</strong></a>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="span-detail">Due:</span> <span class="span-value">{{ task.due_date }}</span>
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="span-detail">Status:</span>
                                            <span {% if task.status == "open" %} class="status-open"
                                                  {% elif task.status == "in_progress" %}class="status-in-progress"
                                                  {% elif task.status == "completed" %}class="status-completed"
                                                  {% elif task.status == "canceled" %}class="status-canceled"
                                                  {% else %}class=""{% endif %} style="font-size: 18px;"
                                            >{{ task.status }}</span>
                                        </div>
                                        <div class="col-lg-12 mt-lg-3">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <span class="span-detail">Description:</span>
                                                </div>
                                                <div class="col-lg-10">
                                                    <p class="mx-lg-2 px-lg-2" style="background-color: white;
                                                    height: auto;">{{ task.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-lg-4 justify-content-start border-bottom border-2">
                                        <div class="col-3">
                                            <div class="row">
                                                <!-- Edit Task Button -->
                                                <div class="col">
                                                    <a href="{% url 'task:task_edit' task.pk %}?next={% url 'lead:detail' lead.id %}">
                                                        <button class="btn btn-edit">
                                                            Edit Task
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <!-- Delete Task Button -->
                                                    <form method="post"
                                                          action="{% url 'task:task_delete' task.id %}?next={% url 'lead:detail' lead.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-delete"
                                                                onclick="return confirm('Are you sure you want to delete this task?');">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% empty %}
                                <p class="not-found-message">No tasks found for this lead.</p>
                            {% endfor %}

                            <!-- The task creation form: -->
                            <form method="post" action="{% url 'task:task_add_lead' lead.id %}">
                                {% csrf_token %}
                                <div class="mb-2">
                                    <input type="text" name="title" class="form-control w-50" placeholder="Task title" required>
                                </div>
                                <div class="mb-2">
                                    <textarea name="description" class="form-control w-100" rows="4" placeholder="Description"></textarea>
                                </div>
                                <div class="mb-2">
                                    <select name="status" class="form-select w-50" aria-label="Default select example">
                                        <option selected>---</option>
                                        <option value="open">Open</option>
                                        <option value="in_progress">In Progress</option>
                                        <option value="completed">Completed</option>
                                        <option value="canceled">Canceled</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label>
                                        <input type="date" name="due_date" class="form-control" placeholder="Due date" required>
                                    </label>
                                </div>
                                <!-- Add any other task fields as needed -->
                                <button type="submit" class="add-button" style="border-radius: 5px;">
                                    <i class="fa-solid fa-plus px-lg-2"></i>Add Task</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section for backt to, delete, edit and convert lead -->
        <div class="row pt-2">
            <div class="col-lg-6">
                <div class="py-3">
                    <img src="{% static 'images/arrow.png' %}" alt="arrow" class="arrow-icon" height="20">
                    <a class="custom-back-a" href="{% url 'lead:list' %}">Back to Leads</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row py-lg-2">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <form id="lead_delete_form" method="post" action="{% url 'lead:delete' lead.id %}">
                                {% csrf_token %}

                                <button class="btn mx-2 px-2">
                                    <a href="{% url 'lead:edit' lead.id %}" class="btn edit-btn">Edit</a>
                                </button>
                                <button class="btn btn-convert mx-2 px-2">
                                    <a href="{% url 'lead:convert_lead' lead.id %}" id="convert">Convert to client</a>
                                </button>
                                <button class="btn">
                                    <a href="#" style="color: #bb0808; font-size: 22px; font-weight: bold;"
                                       onclick="document.getElementById('lead_delete_form').submit();">Delete</a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}