{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block css %}
    	<link rel="stylesheet" href="{% static 'calendarapp/css/calendar.css' %}">
    {% endblock %}

    {% include 'core/partials/offcanvas_menu.html' %}

    <div class="container mt-5">
        <div class="row mx-lg-5 justify-content-center">
            <div class="col-lg-12 pt-lg-3 mt-2">
                <div class="text-center">
                    <h1>Calendar</h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 mx-4">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.min.js"></script>
    <script>
        // Pass event URL from Django to JS file
        var calendarEventsUrl = "{% url 'calendarapp:events_json' %}";
    </script>
    <script src="{% static 'calendarapp/calendarapp.js' %}"></script>


{% endblock %}