/* Lead list page*/
.delete-icon {
    border: none;
}

.btn-danger {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}

.a-detail {
    font-weight: bold;
    color: #23523c;
}

.edit{
    font-weight: bold;
    color: #606567;
}

.span-h3 {
    font-weight: bold;
    color: #23523c;
}


.content-lead {
    margin-left: 380px;
}

/* lead delete form*/
#lead_delete_form {
    display: inline;
    padding-left: 25px;
}

/* Convert button */
.btn-convert {
    background-color: #849c9d;
    font-size: 1.1rem;
}
.btn-convert:hover {
    background-color: #606567;
}
#convert {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

/* lead/status */
.status-open {
   color: green;
   font-weight: bold;
}
.status-in-progress {
   color: orange;
   font-weight: bold;
}
.status-completed {
   color: blue;
   font-weight: bold;
}
.status-closed {
   color: red;
   font-weight: bold;
}
