{% load static %}

<style>
    .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1050; /* Ensure it stays above the offcanvas */
        }
</style>

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Lenka's CRM System</a>
        <!-- Toggler for responsive menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0">
            <ul class="navbar-nav text-end">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userprofile:account' %}">Account</a>
                    </li>

                    <li class="nav-item-delete">
                        <a href="{% url 'logout' %}" class="nav-link-delete">Logout</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userprofile:register' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>