 <!-- Offcanvas -->
 {% load static %}

<div class="offcanvas-custom">
    <div class="p-3">
        <div class="text-start mx-sm-0 px-sm-0">
            <a href="{% url 'dashboard:dashboard' %}" class="custom-a">
                <img src="{% static 'images/dashboard.png' %}" alt="dashboard" class="img-dashboard" height="25px">
                <span class="dashb-span py-2">Dashboard</span>
            </a>
        </div>
        <ul class="list-unstyled">
            <li class="px-lg-3 py-lg-2">
                <a href="{% url 'lead:list' %}">
                    <i class="fa-solid fa-circle-user"></i>Leads
                </a>
            </li>
            <li class="px-lg-3 py-lg-2">
                <a href="{% url 'client:list' %}">
                    <i class="fa-regular fa-circle-user"></i>Clients
                </a>
            </li>
            <li class="px-lg-3 py-lg-2">
                <a href="{% url 'task:task_list' %}">
                    <i class="fa-solid fa-list-check"></i>Tasks
                </a>
            </li>
            <li class="px-lg-3 py-lg-2">
                <a href="{% url 'calendarapp:calendar' %}">
                    <i class="fa-regular fa-calendar-days"></i>Calendar
                </a>
            </li>
        </ul>

    </div>
</div>